body{
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
}
.back-img{
	background-image:url("https://img00.deviantart.net/8bb7/i/2012/349/2/b/techno_wallpaper_2_0_hd_by_gredius-d5o48do.jpg");
	width:100%;
	height: 70vh;
	background-size: cover;
	position: relative;
	
}
.dp{
	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translateX(-50%);
	height: 30vh;
	border: 3px solid rgb(255, 253, 253);
	
}

.name {
  line-height: 0.10;
  text-align: center;
  padding: 33px;
  color: #ffff;
  font-size:25px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: Roboto;
  position: relative;
  width: 100%;
}

 .name h1:before,
 .name h1:after
{
  content: "";
  position: absolute;
  height: 2px;
  
  background-image: linear-gradient(-90deg, #ffff, transparent, #ffffff );
  width: 100%;
  left: 0%;
  top: 55%;


}	 


.sub-title{
	margin-top: 0px;
	color:#ffff;
	text-align: center;
	font-size: 13px;
	font-family: Roboto;
}

.detail{
	text-align: center;
	margin-top: 10px;
	font-family: Roboto;
	font-size: x-large;
	font-weight: bold;
}
.detail-sub{
	text-align: center;
	font-size: Medium;
	font-family: Roboto;
}

.about{
	
	border-right:1px solid black;
	margin-top: 1.7%;
	font-family: Roboto;
	text-align: right;
	
}

.about-text{
	margin-left: 50%;
	font-weight: bold;
	font-size: x-large;
}
.about-sub{
	font-family: Roboto;
	font-size: smaller;	
	font-weight: bold;
}
.abt-sub1{
	font-family: Roboto;
	font-size: smaller;	
	text-align: left;
	word-wrap: break-word;
}
.experience{
    margin-top: 4%;
    font-family: Roboto;
	font-weight: bold;
	text-align: left;
	font-size: x-large;
}
.early-life{
	text-align: left;
	font-size: 13px;
	font-family: Roboto;;
}
.movie{
	height: 22vh;
   
	margin-bottom: 8px;
	margin-left:20px;
	border: 6px solid #7f7c74;
}
.lang{
	font-family: Roboto;
	font-weight: bold;
	font-size: x-large;
	margin-top: 10%;
}
.second-heading{
	font-weight: bold;
	font-size: medium;
}

.third-heading{
	
	font-size: small;
}

.col-md-6 li {
	font-size: small;
	/* white-space: nowrap; */
	
}
.col-md-6 h5 {
	font-size: small;
	font-weight: normal;
}


.pie-chart-container,
.doughnut-chart-container {
    height: 177px;
    width: 177px;
    float: left;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
	.about {
		border-right: none;
	}	
  }